<!DOCTYPE html>
<html lang="en" ng-app="sputifyAngularJsApp">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />

  <!-- para que se vea bien en todos los navegadores -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="../styles/css/music.css">
  <link rel="stylesheet" href="../styles/css/chat.css">
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/firebase/firebase.js"></script>
  <script src="../bower_components/angularfire/dist/angularfire.js"></script>
  <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="../bower_components/angular-animate/angular-animate.js"></script>
  <script src="../bower_components/angular-aria/angular-aria.js"></script>
  <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="../bower_components/angular-messages/angular-messages.js"></script>
  <script src="../bower_components/angular-resource/angular-resource.js"></script>
  <script src="../bower_components/angular-route/angular-route.js"></script>
  <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="../bower_components/angular-touch/angular-touch.js"></script>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="../bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
  <script src="../bower_components/angular-spotify/src/angular-spotify.js"></script>


</head>
<body ng-controller="ChatCtrl">

<div class="header">
            <div class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-header">

                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a class="navbar-brand" href="/"><font>SPUTIFY</font> </a>
                    </div>

                    <div class="collapse navbar-collapse" id="js-navbar-collapse">

                        <ul class="nav navbar-nav">
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href="">MUSIC</a></li>
                            <li><a href=""></a></li>
                            <li><a ng-href="/views/login.html">BUSCAR</a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a ng-href="/favoritos">SUPPORT</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
<div>
  <form ng-submit="addComentario(nuevoComentario)">
         <input type="text" ng-model="nuevoComentario">
                    <button type="submit">enviar</button>
      </form>
      <div ng-repeat="com in comentarios">
        {{com.text}}{{com.autor}}
      </div>
</div>

<div id="btn_logRegChat">
  Debes identificarte para chatear
  <form>
    <!--<button type="button" ng-click="login()">Login</button>-->
    <button type="button" ng-click="registrar()">Registrate</button>
  </form>
</div>

<div id="logeo_chat">
<form ng-submit="logeoChat(currentUserName, currentUserPass)">
  <div id="error">User o Pass incorrecto</div>
  <input type="text" ng-model="currentUserName">
  <input type="password" ng-model="currentUserPass">
    <button type="submit">Login</button>
    </form>
</div>


<div id="registro_chat">
<form ng-submit="registroChat(currentUserName, currentUserPass, currentUserSrc)">
  <input type="text" ng-model="currentUserName">
  <input type="password" ng-model="currentUserPass">
  <input type="text" ng-model="currentUserSrc">
    <button type="submit">Registrar</button>
    </form>
</div>


<form ng-submit="addComentario(nuevoComentario)">
<div id="visible">
<div class="chatter">
  <div class="chatter_post_signup">
    <div class="chatter_convo" >
    <div ng-repeat="com in comentarios">
      <div ng-if="com.autor === currentUserNameLocal">
      <span class="chatter_msg_item chatter_msg_item_admin">
        <a href="" class="chatter_avatar"><img src="{{currentUserSrcLocal}}" /></a>
        <strong class="chatter_name">{{com.autor}}</strong>{{com.text}}</span>
      </div>
      <div ng-if="com.autor !== currentUserNameLocal">
      <span class="chatter_msg_item chatter_msg_item_user">
        <a href="" class="chatter_avatar"><img src="http://www.casanhelp.com.ar/thumbs//200/200/1/imgs/user-no-avatar.jpg" /></a>
        <strong class="chatter_name">{{com.autor}}</strong>{{com.text}}</span>
      </div>
      
    </div>
    </div>
    <input name="chatter_message" ng-model="nuevoComentario" placeholder="Escribe aqui... " class="chatter_field chatter_message" ng-click="addComentario(nuevoComentario)">
  </div>
  <button type="submit">enviar</button>
</div>
    
 
</div>
</form>
<script src="../scripts/controllers/chat.js"></script>
  

</body>
</html>

